.places{
    display: flex;
    margin-top:12px;
    width: calc(100% - 296px);
    flex-direction: column;
}

@media (max-width: 425px) {
   .places{
      width:100%;
    }
  }
  
  @media (max-width: 768px) and (min-width: 425px) {
    .places{
      width:calc(100% - 48px);
    }
  }
  
  @media (max-width: 1024px) and (min-width: 769px) {
    .places{
      width:calc(100% - 96px);
    }
  }