.cover__subtitle{
    color: white;
    text-align: center;
    width:360px;
    z-index:1;
    margin: 0;
    margin-top:32px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    z-index:2;
}


@media (max-width: 425px) {
    .cover__subtitle{
        width:calc(100% - 32px);
        font-weight: normal;
        font-size: 14px;
        line-height: 1.14;
    }    
}