.header{
    max-width:1280px;
    width:calc(100% - 96px);
    padding-left:48px;
    padding-right:48px;
    margin-top:28px;
    display:flex;
    flex-direction:row;
    color:white;
    justify-content: space-between;
}

@media (max-width: 425px) {
    .header{
      margin-top:18px;
      width:calc(100% - 32px);
      padding-left:16px;
      padding-right:16px;
    }
}

@media (max-width: 728px) and (min-width: 425px) {
    .header{
      box-sizing: border-box;
      width:calc(100% - 48px);
      padding-left:24px;
      padding-right:24px;
    }
}



