.lead__title{
    box-sizing: content-box;
    margin-top:0;
    color:white;
    text-align: center;
    width:720px;
    margin-bottom:0px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
}

@media (max-width: 425px) {
    .lead__title{
        max-width:288px;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 1.1;
    }
}

@media (min-width: 425px) and (max-width: 728px) {
    .lead__title{
        width:calc(100% - 48px);
    }
}

@media (min-width: 425px) and (max-width: 620px) {
    .lead__title{
        font-size:60px; /*Иначе текст не помещается*/
    }
}

@media (min-width: 620px) and (max-width: 738px) {
    .lead__title{
        font-size:75px; /*Иначе текст не помещается*/
    }
}