.intro{
  color:white;
  width:calc(100% - 590px);
  margin-top:92px;
  margin-left:148px;
  align-self: flex-start;
}

@media (max-width: 425px) {
  .intro{
    width:calc(100% - 32px);
    align-self:center;
    margin-left:16px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .intro{
    width:calc(100% - 48px);
    align-self:center;
    margin-left:24px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .intro{
    margin-left:48px;
    width:calc(100% - 336px);
  }
}