.lead__subtitle{
    margin-top:32px;
    margin-bottom:0px;
    color:white;
    max-width:640px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
}

@media (max-width: 425px) {
.lead__subtitle{
    margin-top:16px;
    max-width:288px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    }
}

@media (min-width: 425px) and (max-width: 620px) {
    .lead__subtitle{
        font-size:20px; /*Иначе текст не помещается*/
    }
}