.lead__subtitle{
    margin:0;
    margin-top:32px;
    color:white;
    max-width:640px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
}

@media (max-width: 425px) {
.lead__subtitle{
    margin-top:16px;
    max-width:288px;
    font-size: 16px;
    line-height: 1.25;
    }
}

@media (min-width: 425px) and (max-width: 620px) {
    .lead__subtitle{
        width:calc(100% - 48px);
        font-size:20px; /*Иначе текст не помещается*/
    }
}

@media (min-width: 621px) and (max-width: 725px) {
    .lead__subtitle{
        width:calc(100% - 128px);
        font-size:20px; /*Иначе текст не помещается*/
    }
}