.cover{
    margin-top:42px;
    position: relative;
    width:100%;
    color:inherit;  
}
/*

*/

/*
.cover:hover{
  opacity:30%;
  color:white;
}
*/
@media (max-width: 425px) {
    .cover{
        background-color: teal;
        min-height:200px;/*Иначе изображение растягивается*/
        max-height:200px;
        align-items:center;
     }
   }
   
   @media (max-width: 768px) and (min-width: 425px) {
    .cover{
        min-height:200px;
        max-height:480px;
     }
   }
   
   @media (max-width: 1024px) and (min-width: 768px) {
    .cover{
        min-height:480px;
        max-height:640px;
     }
   }