.cover__title{
    color: white;
    width: 560px;
    margin:0;
    text-align: center;
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    z-index:2;
}



@media (max-width: 425px) {
    .cover__title{
        width:calc(100% - 32px);
        font-size: 32px;
        line-height: 1.09;
    }    
}

@media (min-width: 425px) and (max-width: 550px) {
    .cover__title{
        width:calc(100% - 208px);
        font-size:40px;/*Иначе текст не помещается*/
        line-height: 1.09;
    }
}