.footer{
    align-items:center;
    width:100%;
    max-width:1184px;
    margin-top:92px;
    margin-bottom:24px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

@media (max-width: 670px) { /*С этого места навигация просто не помещается в строчку, поэтому тут переход на колонну в этом месте*/
    .footer{
        align-self: flex-start;
        align-items:flex-start;
        width:calc(100% - 134px);
        margin-top:64px;
        margin-left:16px;
        flex-direction:column;
    }    
}

@media (max-width: 768px) and (min-width: 670px) {
    .footer{
        width:calc(100% - 48px);
        margin-left:24px;
        margin-right:24px;
    }    
   }

   @media (max-width: 1024px) and (min-width: 769px) {
    .footer{
        width:calc(100% - 96px);
    }    
   }