.footer{
    align-items:center;
    max-width:1280px;
    width:calc(100% - 96px);
    margin-left:48px;
    margin-right:48px;
    margin-top:92px;
    margin-bottom:24px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

@media (max-width: 670px) { /*С этого места навигация просто не помещается в строчку, поэтому тут переход на колонну в этом месте*/
    .footer{
        margin-right:0;
        align-items:flex-start;
        width:calc(100% - 134px);
        margin-top:64px;
        margin-bottom:24px;
        margin-left:16px;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }    
}

@media (max-width: 768px) and (min-width: 670px) {
    .footer{
        width:calc(100% - 48px);
        margin-top:92px;
        margin-bottom:24px;
        margin-left:24px;
        margin-right:24px;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }    
   }