.footer{
    width:calc(100% - 96px);
    margin-top:92px;
    margin-bottom:24px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

@media (max-width: 425px) {
    .footer{
        align-self:flex-start;
        width:calc(100% - 134px);
        margin-top:64px;
        margin-bottom:24px;
        margin-left:16px;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }    
}

@media (max-width: 768px) and (min-width: 425px) {
    .footer{
        width:calc(100% - 48px);
        margin-top:92px;
        margin-bottom:24px;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }    
   }

   @media (min-width: 425px) and (max-width: 520px) {
    .footer{
        width:calc(100% - 24px);
        margin-top:92px;
        margin-right:12px;
        margin-bottom:24px;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
}